<template>
    <td v-on:click="click">{{ mark }}</td>
</template>

<script>
    import axios from 'axios'

    export default {
        props: ['mark', 'posX', 'posY'],
        data() {
            return {
                frozen: false
            }
        },

        created: function () {
            Event.$on('freeze', () => this.frozen = true);
            Event.$on('unfreeze', () => this.frozen = false);
        },

        methods: {
            click: function () {
                if (!this.mark && !this.frozen) {
                    Event.$emit('cellClick', {posX: this.posX, posY: this.posY});
                }
            }
        }
    }
</script>

<style>
    .grid td {
        width: 50px;
        height: 50px;
        border: 2px solid #999999;
        background-color: #cccccc;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }

    .grid td:hover {
        cursor: pointer;
    }
</style>