<template>
    <div class="game">
        <h2>Game</h2>
        <div>Username: {{ user.name }}</div>
        <h2 v-if="game.isFinished">{{ game.winner ? game.winner + ' Win!' : 'Draw' }}</h2>
        <div>Wins: Human - {{ wins.human }}, Bot - {{ wins.bot }}</div>
        <grid v-bind:size-x="game.sizeX" v-bind:size-y="game.sizeY" v-bind:game-id="game.id"
              v-bind:human-mark="humanMark"></grid>
        <br>

        <table class="configuration">
            <tr>
                <td>
                    <label>Human mark:</label>
                </td>
                <td>
                    <input type="radio" name="sign" value="X" v-model="humanMark"> X
                    <input type="radio" name="sign" value="O" v-model="humanMark"> O
                </td>
            </tr>
            <tr>
                <td>
                    <label>Grid size:</label>
                </td>
                <td>
                    <select v-model="gameSize">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
        </table>
        <button class="mew" @click="newGame">New game</button>
    </div>
</template>

<script>
    import axios from 'axios';
    import Vue from 'Vue';
    import Grid from './Grid.vue'

    window.Vue = Vue;

    axios.defaults.headers.common = {
        'X-CSRF-TOKEN': Laravel.csrfToken,
        'X-Requested-With': 'XMLHttpRequest'
    };

    export default {
        components: {Grid},
        name: 'app',
        data() {
            return {
                game: {
                    id: null,
                    sizeX: 0,
                    sizeY: 0,
                    winner: null,
                    isFinished: false
                },
                humanMark: 'X',
                gameSize: 3,
                wins: {
                    human: 0,
                    bot: 0
                },
                user: {
                    name: ''
                }
            }
        },

        mounted() {
            this.login();
        },

        created() {
            Event.$on('gameFinish', data => {

                this.$set(this.game, 'isFinished', data.game.is_finished);
                this.$set(this.game, 'winner', data.winner);

                if (this.game.winner) {
                    this.wins[this.game.winner.toLowerCase()]++;
                }
            });
        },
        methods: {
            login() {
                const name = 'user';
                const pass = 'qwerty';

                axios.post('/api/login', {name: name, password: pass})
                    .then(response => {
                        this.user = response.data;
                        axios.defaults.headers.common['Authorization'] = 'Bearer ' + response.data.api_token;
                    })
            },

            newGame() {
                axios.post('/api/game/start', {human_mark: this.humanMark, size: this.gameSize})
                    .then((response) => {
                        this.$set(this.game, 'sizeY', parseInt(response.data.y_size));
                        this.$set(this.game, 'sizeX', parseInt(response.data.x_size));
                        this.$set(this.game, 'id', response.data.id);
                        this.$set(this.game, 'winner', null);
                        this.$set(this.game, 'isFinished', false);

                        Event.$emit('gridReset');
                        Event.$emit('unfreeze');

                        console.log(this.game);
                    });
            }
        }
    }
</script>

<style>
    .game {
        padding: 20px 50px;
    }

    .configuration td {
        padding: 2px 5px 2px 0px;
    }
    
    .configuration select {
        display: block;
        width: 100%;
    }
</style>