<template>
    <table class="grid">
        <tbody>
        <tr v-if="rowIndex > 0" v-for="(row, rowIndex) in cells">
            <cell v-if="cellIndex > 0" v-for="(cell, cellIndex) in row" v-bind:pos-y="rowIndex" v-bind:pos-x="cellIndex"
                  v-bind:mark="cells[rowIndex][cellIndex]" :key="cellIndex"></cell>
        </tr>
        </tbody>
    </table>
</template>

<script>
    import axios from 'axios'
    import Cell from './Cell.vue'

    export default {
        components: {Cell},
        props: ['sizeX', 'sizeY', 'gameId', 'humanMark', 'gameSize'],
        data() {
            return {
                cells: [],
                lastMark: 'O',
            }
        },
        mounted: function () {
            this.createGrid();

            if (this.humanMark === 'O') {
                this.botMove();
            }
        },
        created: function () {
            Event.$on('cellClick', (data) => {
                axios.post('/api/game/' + this.gameId + '/move', {
                    pos_y: data.posY,
                    pos_x: data.posX
                }).then(response => {
                    const data = response.data;

                    this.$set(this.cells[data.pos_y], data.pos_x, data.mark);

                    if (data.game.is_finished || response.data.winner) {
                        Event.$emit('gameFinish', {game: data.game, winner: data.winner});
                        Event.$emit('freeze');
                    } else {
                        this.botMove();
                    }
                });
            });

            Event.$on('gridReset', () => {

                //Async call
                setTimeout(() => {
                    Object.assign(this.$data, this.$options.data());

                    this.createGrid();

                    if (this.humanMark === 'O') {
                        this.botMove();
                    }
                }, 0);
            });
        },

        destroyed() {
            Event.$off('cellClick');
            Event.$off('gridReset');
        },

        methods: {
            createGrid() {
                for (let i = 1; i <= this.sizeY; i++) {
                    for (let j = 1; j <= this.sizeX; j++) {
                        this.$set(this.cells, i, this.cells[i] || []);
                        this.$set(this.cells[i], j, '');
                    }
                }
            },

            botMove() {
                Event.$emit('freeze');
                axios.post('/api/game/' + this.gameId + '/bot/move').then(response => {
                    const data = response.data;

                    this.$set(this.cells[data.pos_y], data.pos_x, data.mark);

                    if (data.game.is_finished || response.data.winner) {
                        Event.$emit('gameFinish', {game: data.game, winner: data.winner});
                    } else {
                        Event.$emit('unfreeze');
                    }
                });
            }
        }
    }
</script>